:root,
body {
  background-color: #1c0122;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#bg-water {
  position: relative;
  pointer-events: none;
  z-index: 1;
  max-height: 100%;
  width: 100%;
}

.title {
  text-transform: uppercase;
}

.transition-container {
  z-index: 2;
  display: block;
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;

  background: rgb(28, 1, 34);
  background: linear-gradient(
    0deg,
    rgba(28, 1, 34, 1) 0%,
    rgba(28, 1, 34, 1) 38%,
    rgba(28, 1, 34, 0) 50%,
    rgba(28, 1, 34, 0) 100%
  );
}

.canvas-container {
  height: 80%;
  overflow-x: hidden;
}

.c1,
.c2,
.c3,
.c4 {
  width: 100%;
}

.c1 {
  color: #8e8e8e;
}
.c2 {
  color: #dd341d;
}
.c3 {
  color: #f893d9;
}
.c4 {
  color: #cf9ef7;
}

.artist-list li a {
  transition: all 0.2s ease;
  color: inherit;
  text-decoration: none;
}
.artist-list li a:hover {
  transition: all 0.2s ease;
  color: white;
}
.grid-container {
  font-family: "AvantGardeGothicBold", Arial, sans-serif;
  text-rendering: geometricPrecision;
  text-align: left;
  z-index: 2;
  position: relative;
  bottom: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  line-height: 28px;
}

.grid-container .column {
  max-width: 100%;
}

#mc_embed_signup {
  clear: left;
  font: 14px "AvantGardeGothicBold", Arial, sans-serif;
  margin: 0 2rem 0.5rem 2rem;
}
#mc_embed_signup_scroll {
  display: flex;
  flex-direction: row;

  height: 45px;
}

.artist-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.spacing {
  margin-right: 35px;
}

.flex-info-container {
  position: relative;
  display: flex;

  flex-direction: row;
  bottom: 100px;
  z-index: 3;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  font-family: "AvantGardeGothicBold", Arial, sans-serif;
  text-rendering: geometricPrecision;
}

#mce-EMAIL {
  width: 100%;
  height: 45px;
  font-family: "AvantGardeGothicBold", Arial, sans-serif;
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
}

#mc-embedded-subscribe {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  padding: 10px;
  height: 100%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.flex-info-container > * {
  flex-basis: 100%;
}

.flex-info-container h1 {
  text-align: center;
}

.ticket-host-container {
  transition: all 0.2s ease;
  margin: 2rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 12px;
}
.ticket-host-container:hover {
  transition: all 0.2s ease;
  background-color: #e1ffdd;
  color: black;
}
.ticket-host-container a {
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;

  text-decoration: none;
  color: inherit;
}
.ticket-host-container h1 {
  margin: 0;
}
.covid-warning-container {
  margin: 2rem;
  height: 220px;
  padding: 1rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 12px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

#footer-logo-src {
  width: 40px;
  opacity: 0.2;
}

.socials-container {
  align-items: end;
  list-style-type: none;
  padding: 0;
  margin: 18px 0 18px 0;
  display: flex;
  align-items: center;
}

.socials-container > li {
  padding-right: 20px;
}

.social-icon {
  width: 40px;
  opacity: 0.2;
}

.facebook-logo-src {
  /* im lazy. i shouldnt have to deal with this anyway. why tf would facebook add blank margins to a logo? stop that */
  position: relative;
}

@media only screen and (max-width: 990px) {
  :root,
  body {
    font-size: 0.85rem;
  }
  .flex-info-container {
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    line-height: 20px;
  }
  .ticket-host-container a {
    padding: 20px 0 20px 0;
  }
}
