:root,
body {
  background-color: #1c0122;
  color: white;
  margin: 0;
  padding: 0;
}

#bg-water {
  position: relative;
  pointer-events: none;
  z-index: 1;
  max-height: 100%;
  width: 100%;
}

.title {
  text-transform: uppercase;
}

.transition-container {
  z-index: 2;
  display: block;
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;

  background: rgb(28, 1, 34);
  background: linear-gradient(
    0deg,
    rgba(28, 1, 34, 1) 0%,
    rgba(28, 1, 34, 1) 38%,
    rgba(28, 1, 34, 0) 50%,
    rgba(28, 1, 34, 0) 100%
  );
}

.canvas-container {
  height: 80%;
}
.grid-container {
  font-family: "AvantGardeGothicBold";
  text-rendering: geometricPrecision;
  z-index: 2;
  position: relative;
  bottom: 100px;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

.artist-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.spacing {
  margin-right: 40px;
}

.flex-info-container {
  position: relative;
  display: flex;

  flex-direction: row;
  bottom: 100px;
  z-index: 3;
  width: 100%;

  font-family: "AvantGardeGothicBold";
  text-rendering: geometricPrecision;
}

.flex-info-container > * {
  flex-basis: 100%;
}

.flex-info-container h1 {
  text-align: center;
}

.ticket-host-container {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 12px;
}
.covid-warning-container {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 12px;
}

@media only screen and (max-width: 1000px) {
  .flex-info-container {
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
